###########
# PROJECT #
###########

#This is the project's name.
export PROJECT=drone-system

#######
# IAM #
#######

#Destroy Provision user even when it has non-Terraform managed Access Keys.
export IAM_FORCE_DESTROY_PROVISION_USER=true


######
# S3 #
######

#When destroying this Stack should the contents of the artifact bucket be deleted before the bucket is being destroyed.
export S3_DESTROY_ARTIFACT_ORIGIN=false


##############
# Greengrass #
##############

#This is the role assumed for provisioning core devices.
export GREENGRASS_PROVISION_ROLE_NAME=GreengrassV2CoreProvisionRole
#This is the name of the provisioning role's policy.
export GREENGRASS_PROVISION_POLICY_NAME=GreengrassV2CoreProvisionRoleAccess
#This is the alias for the provisioning, which is used by AWS IoT to leverage other Amazon services.
export GREENGRASS_PROVISION_ROLE_ALIAS=GreengrassV2CoreProvisionRoleAlias
#Name of the greengrass-core device for development
export GREENGRASS_CORE_THING_NAME=DevCore-pshaikh

#######
# IOT #
#######

export IOT_THING_POLICY_NAME=GreengrassV2IoTThingPolicy
export IOT_DEVELOPMENT_THING_GROUP_NAME=dev-companion-computer


