###########
# PROJECT #
###########

export PROJECT=drone-system
export DEPLOYMENT_REGION=eu-central-1


#######################
# Greengrass Core Dev #
#######################

export uuid=$(cat /proc/sys/kernel/random/uuid)
export GREENGRASS_CORE_PROVISION=true
export GREENGRASS_CORE_THING_NAME=DevCore-$uuid
export GREENGRASS_SESSION_NAME=AssumedSession-$uuid
export GREENGRASS_PROVISION_ROLE_NAME=GreengrassV2CoreProvisionRole
export GREENGRASS_PROVISION_POLICY_NAME=GreengrassV2CoreProvisionAccess
export GREENGRASS_PROVISION_ROLE_ALIAS=GreengrassV2CoreProvisionRoleAlias


#############
# Terraform #
#############

export TF_VAR_projectname=$PROJECT
export TF_VAR_aws_region=$DEPLOYMENT_REGION
# Lookup 'force_destroy' at https://registry.terraform.io/modules/terraform-aws-modules/iam/aws/latest/submodules/iam-user?tab=inputs
export TF_VAR_force_destroy_stack=true
export TF_VAR_greengrass_v2_token_exchange_role_name=$GREENGRASS_PROVISION_ROLE_NAME
export TF_VAR_greengrass_v2_token_exchange_policy_name=$GREENGRASS_PROVISION_POLICY_NAME
export TF_VAR_greengrass_v2_token_exchange_role_alias=$GREENGRASS_PROVISION_ROLE_ALIAS

