###########
# PROJECT #
###########

#This is the project's name.
export PROJECT=drone-system
export DEPLOYMENT_REGION=eu-central-1

#######
# IAM #
#######

#Destroy Provision user even when it has non-Terraform managed Access Keys.
export IAM_CORE_DESTROY_PROVISION_USER=true


######
# S3 #
######

#When destroying this Stack should the contents of the artifact bucket be deleted before the bucket is being destroyed.
export S3_DESTROY_ARTIFACT_ORIGIN=false


##############
# Greengrass #
##############

#This is the role assumed for provisioning core devices.
export GREENGRASS_PROVISION_ROLE_NAME=GreengrassV2CoreProvisionRole
#This is the name of the provisioning role's policy.
export GREENGRASS_PROVISION_POLICY_NAME=GreengrassV2CoreProvisionRoleAccess
#This is the alias for the provisioning, which is used by AWS IoT to leverage other Amazon services.
export GREENGRASS_PROVISION_ROLE_ALIAS=GreengrassV2CoreProvisionRoleAlias
export GREENGRASS_CORE_THING_NAME=DevCore-pshaikh


#######
# IOT #
#######

export IOT_DEVELOPMENT_THING_GROUP_NAME=development-companion-computer
export IOT_THING_POLICY_NAME=GreengrassV2IoTThingPolicy


#############
# Terraform #
#############

export TF_VAR_projectname=$PROJECT
export TF_VAR_aws_region=$DEPLOYMENT_REGION
export TF_VAR_iam_force_destroy_provision_user=$IAM_CORE_DESTROY_PROVISION_USER
export TF_VAR_greengrass_provision_role_name=$GREENGRASS_PROVISION_ROLE_NAME
export TF_VAR_greengrass_provision_policy_name=$GREENGRASS_PROVISION_POLICY_NAME
export TF_VAR_greengrass_provision_role_alias=$GREENGRASS_PROVISION_ROLE_ALIAS
export TF_VAR_s3_destroy_artifact_origin=$S3_DESTROY_ARTIFACT_ORIGIN
export TF_VAR_iot_development_thing_group_name=$IOT_DEVELOPMENT_THING_GROUP_NAME
export TF_VAR_iot_thing_policy_name=$IOT_THING_POLICY_NAME

