export TF_VAR_projectname=$PROJECT
export TF_VAR_iam_force_destroy_provision_user=$IAM_FORCE_DESTROY_PROVISION_USER
export TF_VAR_greengrass_provision_role_name=$GREENGRASS_PROVISION_ROLE_NAME
export TF_VAR_greengrass_provision_policy_name=$GREENGRASS_PROVISION_POLICY_NAME
export TF_VAR_s3_destroy_artifact_origin=$S3_DESTROY_ARTIFACT_ORIGIN